# Importing

In [1]:
import pandas as pd

# Sample data
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James'],
    'Age': [28, 22, 35, 32, 29],
    'City': ['New York', 'Paris', 'Berlin', 'London', 'New York'],
    'Income': [50000, 60000, 45000, 75000, None],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male']
}

# Create DataFrame
df = pd.DataFrame(data)

# View DataFrame
df.head()

    Name  Age      City   Income  Gender
0   John   28  New York  50000.0    Male
1   Anna   22     Paris  60000.0  Female
2  Peter   35    Berlin  45000.0    Male
3  Linda   32    London  75000.0  Female
4  James   29  New York      NaN    Male

# Inspecting

In [2]:
# View basic info
df.info()

# View unique values in a column
df['City'].unique()

# Check for missing values
df.isnull().sum()

# Summary statistics (numeric columns)
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Income  4 non-null      float64
 4   Gender  5 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 328.0+ bytes

             Age        Income
count   5.000000      4.000000
mean   29.200000  57500.000000
std     4.868265  13228.756555
min    22.000000  45000.000000
25%    28.000000  48750.000000
50%    29.000000  55000.000000
75%    32.000000  63750.000000
max    35.000000  75000.000000

# Selecting/Subsetting Data

In [3]:
# Select specific columns
df_subset = df[['Name', 'City']]

# Filter rows (e.g., Income greater than 50,000)
df_filtered = df[df['Income'] > 50000]

# Using `loc` (label-based indexing) to select rows and columns
df_loc = df.loc[df['Age'] > 30, ['Name', 'Income']]

# Using `iloc` (position-based indexing) to select rows and columns by index
df_iloc = df.iloc[0:3, 1:3]  # Select first 3 rows and columns 2 and 3

# Handling Missing Data

In [4]:
# Sample with missing data (Income has None for James)
# Fill missing values with a specific value (e.g., 0)
df_fillna = df.fillna(0)

# Fill missing values with the mean of the column
df['Income'].fillna(df['Income'].mean(), inplace=True)

# Drop rows with missing values
df_dropna = df.dropna(subset=['Income'])

/var/folders/mp/c7pgmq8j0472f05vnx5h16000000gn/T/ipykernel_6128/4171874053.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].mean(), inplace=True)

# Renaming Columns

In [5]:
# # Rename single column
# df.rename(columns={'Income': 'Annual_Income'}, inplace=True)

# # Rename multiple columns
# df.rename(columns={'Name': 'Full_Name', 'Age': 'Years'}, inplace=True)

# Handling Duplicates

In [6]:
# Add duplicate rows for testing
df.loc[5] = ['Anna', 22, 'Paris', 60000, 'Female']  # Duplicate row

# Check for duplicates
df.duplicated().sum()

# Drop duplicate rows
df_no_duplicates = df.drop_duplicates()

# Drop duplicates based on a specific column
df_no_duplicates_city = df.drop_duplicates(subset=['City'])

# Changing Data Types

In [7]:
# Convert 'Age' column to string
df['Age'] = df['Age'].astype(str)

# Convert 'Income' to numeric (force any invalid parsing to NaN)
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')

# Convert to datetime (example for date column)
# df['Date'] = pd.to_datetime(df['Date'])

# Creating / Modifying Columns

In [8]:
# Create a new column 'Age Category' based on 'Age'
df['Age_Category'] = df['Age'].apply(lambda x: 'Young' if int(x) < 30 else 'Adult')

# Create a new column combining 'Name' and 'City'
df['Name_City'] = df['Name'] + ' from ' + df['City']

# Modify columns to uppercase
df[['Name', 'City']] = df[['Name', 'City']].apply(lambda x: x.str.upper())

# Grouping and Aggregating

In [9]:
# Group by 'City' and calculate sum of 'Income'
grouped_income = df.groupby('City')['Income'].sum()

# Group by 'City' and 'Gender' and calculate the mean of 'Income'
grouped_stats = df.groupby(['City', 'Gender'])['Income'].mean().reset_index()

# Ensure 'Income' and 'Age' columns are numeric
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
# Multiple aggregations (sum and mean)
grouped_multiple = df.groupby('City').agg({'Income': ['sum', 'mean'], 'Age': 'mean'})

# Sorting Data

In [10]:
# Sort by 'Income' (descending)
df_sorted = df.sort_values(by='Income', ascending=False)

# Sort by multiple columns ('City' ascending, 'Income' descending)
df_sorted_multiple = df.sort_values(by=['City', 'Income'], ascending=[True, False])

# Merging

In [11]:
# Sample second DataFrame
data2 = {
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Population': [8500000, 2148000, 3769000, 8982000]
}
df2 = pd.DataFrame(data2)

# Merge DataFrames on 'City'
merged_df = pd.merge(df, df2, on='City', how='inner')

# Merge with left join
merged_left = pd.merge(df, df2, on='City', how='left')

# Pivoting and Reshaping

In [12]:
df = df.drop_duplicates()
# Pivot table showing average 'Income' for each 'City' and 'Gender'
pivot_df = df.pivot_table(index='City', columns='Gender', values='Income', aggfunc='mean')

# Unstack a multi-level index DataFrame (if applicable)
df_unstacked = df.groupby(['City', 'Gender'])['Income'].mean().unstack()


# Melt (unpivot) DataFrame
df_melted = pd.melt(df, id_vars=['Name'], value_vars=['Income', 'Age'], var_name='Metric', value_name='Value')

# Pivot (reshaping from long to wide)
df_pivoted = df.pivot(index='Name', columns='City', values='Income')

# Saving Data

In [13]:
# Save DataFrame to CSV
df.to_csv('cleaned_data.csv', index=False)

# Save DataFrame to Excel
df.to_excel('cleaned_data.xlsx', index=False)